<!-- views/pages/accueil.ejs -->
<!DOCTYPE html>
<!--
    Jimmy Martini 04-10-2021
    Fichier: accueil.ejs
    Page qui affiche le message d'accueil, le ou les formulaires et les données pour chaque utilisateur selon le niveau de droit.
    Affiche le message d'accueil associé à l'utilisateur vérifié.
-->

<html lang="fr-CA">
  <head>
    <%- include('../partials/head') %>
    <script>
      socket.on('message',function(message) {
        alert('Le serveur a un message pour vous : ' + message);
      });
    </script>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/loginHeader') %>
    </header> 
    <main>
      <div class="jumbotron">
        <h2><%= myDb[user-1].texteAccueil %></h2>
        <!-- Affichage dépendant du niveau de droit de l'utilisateur présentement connecté. -->
        <table class="table">
          <tr>
            <% if (myDb[user-1].nivDroit >= 1) { %>
              <td>
                <% if (erreurTarget == "texteAccueil") { %>
                  <span style="color:red"> <%= erreurMessage %> </span><br>
                <% } %>
                <form method="post" action="/update">
                  <label for="data">Nouveau message d'accueil :</label><br>
                  <input type="text" name="data" required><br>
                  <input type="hidden" name="target" value="texteAccueil">
                  <input type="hidden" name="userId" value="<%= user %>">
                  <input type="submit" value="Changer le message">
                </form>
              </td>
            <% } %>
            <% if (myDb[user-1].nivDroit >= 2) { %>
              <td>
                <% if (erreurTarget == "password") { %>
                  <span style="color:red"> <%= erreurMessage %> </span><br>
                <% } %>
                <form method="post" action="/update">
                  <label for="data">Nouveau mot de passe :</label><br>
                  <input type="text" name="data" required><br>
                  <input type="hidden" name="target" value="password">
                  <input type="hidden" name="userId" value="<%= user %>">
                  <input type="submit" value="Changer votre mot de passe">
                </form>
              </td>
            <% } %>
          </tr>
        </table>
        <% if (myDb[user-1].nivDroit == 3) { %>
          <br>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Utilisateurs</th>
                <th>Mots de Passe</th>
                <th>Messages d'accueil</th>
              </tr>
            </thead>
            <tbody>
              <% myDb.forEach(function(user) { %>
                <tr>
                  <td><%= user.username %></td>
                  <td><%= user.password %></td>
                  <td><%= user.texteAccueil %></td>
                </tr>
              <% }); %> 
            </tbody>
          </table> 
        <% } %>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>