<!-- views/pages/balance.ejs -->
<!DOCTYPE html>
<!--
    Jimmy Martini 04-10-2021
    Fichier: balance.ejs
    Page qui affiche les information de la balance Toledo.
    Affiche les informations de la balance et gère l'alarme qui lui est associé.
-->

<html lang="fr-CA">
  <head>
    <%- include('../partials/head') %>
    <script>
      jQuery(function($) {
        socket.on('poids', function (val) {
          $('#poids').text(val);
        });
        socket.on('tare', function (val) {
          $('#tare').text(val);
        });
        socket.on('unite', function (val) {
          $('.unite').text(val);
        });
        socket.on('ALR_GB_OVF', function (val) {
          var retour = window.confirm("ATTENTION!!\nDébordement du gros bassin!\nAction de l'opérateur sur la machine est recommandé avant de fermer cette alerte.");
          socket.emit("ALR_GB_OVF ACK", "ACK");
        });
        socket.on('ALR_PB_OVF', function (val) {
          var retour = window.confirm("ATTENTION!!\nDébordement du petit bassin!\nAction de l'opérateur sur la machine est recommandé avant de fermer cette alerte.");
          socket.emit("ALR_PB_OVF ACK", "ACK");
        });
        socket.on('ALR_GB_NIV_MAX', function (val) {
          var retour = window.confirm("ATTENTION!!\nLe niveau maximum configuré pour le gros bassin à été atteint.\n???");
          socket.emit("ALR_GB_NIV_MAX ACK", "ACK");
        });
        socket.on('ALR_PB_NIV_MAX', function (val) {
          var retour = window.confirm("ATTENTION!!\nLe niveau maximum configuré pour le petit bassin à été atteint.\n???");
          socket.emit("ALR_PB_NIV_MAX ACK", "ACK");
        });
        socket.on('ALR_CNX_BAL', function (val) {
          var retour = window.confirm("ATTENTION!!\nLa connection avec la balance à été perdu!\nAction de l'opérateur sur la machine est recommandé avant de fermer cette alerte.");
          socket.emit("ALR_CNX_BAL ACK", "ACK");
        });
        socket.on('ALR_CNX_POW', function (val) {
          var retour = window.confirm("ATTENTION!!\nLa connection avec le powermeter à été perdu!\nAction de l'opérateur sur la machine est recommandé avant de fermer cette alerte.");
          socket.emit("ALR_CNX_POW ACK", "ACK");
        });
      });
    </script>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/loginHeader') %>
    </header> 
    <main>
      <div class="jumbotron">
        <table class="table">
          <tr>
            <td>
              <span>Poids :</span>
            </td>
            <td>
              <span id="poids"><%=balance.poids%></span>
            </td>
            <td>
              <span class="unite"><%=balance.unite%></span>
            </td>
          </tr>
          <tr>
            <td>
              <span>Tare :</span>
            </td>
            <td>
              <span id="tare"><%=balance.tare%></span>
            </td>
            <td>
              <span class="unite"><%=balance.unite%></span>
            </td>
          </tr>
        </table>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>