<!-- views/pages/melangeur.ejs -->
<!DOCTYPE html>
<!--
    Jimmy Martini 04-10-2021
    Fichier: melangeur.ejs
    Page qui affiche les information du melangeur et du shop Vac.
    Affiche les informations du melangeur et du shop vac et gère les alarmes qui leurs sont associées.
-->

<html lang="fr-CA">
  <head>
    <%- include('../partials/head') %>
    <script>
      jQuery(function($) {
        socket.on('recetteStatut', function (val) {
          $('#recetteStatut').text(val);
        });
        socket.on('sequence', function (val) {
          $('#sequence').text(val);
        });
        socket.on('NivA', function (val) {
          $('#NivA').text(val);
        });
        socket.on('NivB', function (val) {
          $('#NivB').text(val);
        });
        socket.on('NivC', function (val) {
          $('#NivC').text(val);
        });
        socket.on('ALR_GB_OVF', function (val) {
          var retour = window.confirm("ATTENTION!!\nDébordement du gros bassin!\nAction de l'opérateur sur la machine est recommandé avant de fermer cette alerte.");
          socket.emit("ALR_GB_OVF ACK", "ACK");
        });
        socket.on('ALR_PB_OVF', function (val) {
          var retour = window.confirm("ATTENTION!!\nDébordement du petit bassin!\nAction de l'opérateur sur la machine est recommandé avant de fermer cette alerte.");
          socket.emit("ALR_PB_OVF ACK", "ACK");
        });
        socket.on('ALR_GB_NIV_MAX', function (val) {
          var retour = window.confirm("ATTENTION!!\nLe niveau maximum configuré pour le gros bassin à été atteint.\n???");
          socket.emit("ALR_GB_NIV_MAX ACK", "ACK");
        });
        socket.on('ALR_PB_NIV_MAX', function (val) {
          var retour = window.confirm("ATTENTION!!\nLe niveau maximum configuré pour le petit bassin à été atteint.\n???");
          socket.emit("ALR_PB_NIV_MAX ACK", "ACK");
        });
        socket.on('ALR_CNX_BAL', function (val) {
          var retour = window.confirm("ATTENTION!!\nLa connection avec la balance à été perdu!\nAction de l'opérateur sur la machine est recommandé avant de fermer cette alerte.");
          socket.emit("ALR_CNX_BAL ACK", "ACK");
        });
        socket.on('ALR_CNX_POW', function (val) {
          var retour = window.confirm("ATTENTION!!\nLa connection avec le powermeter à été perdu!\nAction de l'opérateur sur la machine est recommandé avant de fermer cette alerte.");
          socket.emit("ALR_CNX_POW ACK", "ACK");
        });
      });
    </script>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/loginHeader') %>
    </header> 
    <main>
      <div class="jumbotron">
        <table class="table">
            <th>Mélangeur</th>
            <tr>
                <td>
                    <span id="recetteStatut"><%=melangeur.recetteStatut%></span>
                </td>
            </tr>
        </table>
        <table class="table">
            <th>Shop Vac</th>
          <% for (key of Object.keys(shopvac)) { %>
            <tr>
              <td>
                <span><%=key%>  :</span>
              </td>
              <td>
                <span id="<%=key%>"><%=shopvac[key]%></span>
              </td>
              <% if (key=="sequence") { %>
              <%} else { %>
              <td>
                <span>%</span>
              </td>
              <% } %>
            </tr>
          <% }; %>
        </table>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>