<!-- views/pages/melangeur.ejs -->
<!DOCTYPE html>
<!--
    Jimmy Martini 04-10-2021
    Fichier: melangeur.ejs
    Page qui affiche les information du melangeur et du shop Vac.
    Affiche les informations du melangeur et du shop vac et gère les alarmes qui leurs sont associées.
-->

<html lang="fr-CA">
  <head>
    <%- include('../partials/head') %>
    <script>
      jQuery(function($) {
        socket.on('recetteStatut', function (val) {
          $('#recetteStatut').text(val);
        });
        socket.on('sequence', function (val) {
          $('#sequence').text(val);
        });
        socket.on('NivA', function (val) {
          $('#NivA').text(val);
        });
        socket.on('NivB', function (val) {
          $('#NivB').text(val);
        });
        socket.on('NivC', function (val) {
          $('#NivC').text(val);
        });
        socket.on('ALR_GB_OVF', function (val) {
          var retour = window.confirm("ATTENTION!!\nDébordement du gros bassin!\nAction de l'opérateur sur la machine est recommandé avant de fermer cette alerte.");
          socket.emit("ALR_GB_OVF ACK", "ACK");
        });
        socket.on('ALR_PB_OVF', function (val) {
          var retour = window.confirm("ATTENTION!!\nDébordement du petit bassin!\nAction de l'opérateur sur la machine est recommandé avant de fermer cette alerte.");
          socket.emit("ALR_PB_OVF ACK", "ACK");
        });
        socket.on('ALR_GB_NIV_MAX', function (val) {
          var retour = window.confirm("ATTENTION!!\nLe niveau maximum configuré pour le gros bassin à été atteint.\n???");
          socket.emit("ALR_GB_NIV_MAX ACK", "ACK");
        });
        socket.on('ALR_PB_NIV_MAX', function (val) {
          var retour = window.confirm("ATTENTION!!\nLe niveau maximum configuré pour le petit bassin à été atteint.\n???");
          socket.emit("ALR_PB_NIV_MAX ACK", "ACK");
        });
        socket.on('ALR_CNX_BAL', function (val) {
          var retour = window.confirm("ATTENTION!!\nLa connection avec la balance à été perdu!\nAction de l'opérateur sur la machine est recommandé avant de fermer cette alerte.");
          socket.emit("ALR_CNX_BAL ACK", "ACK");
        });
        socket.on('ALR_CNX_POW', function (val) {
          var retour = window.confirm("ATTENTION!!\nLa connection avec le powermeter à été perdu!\nAction de l'opérateur sur la machine est recommandé avant de fermer cette alerte.");
          socket.emit("ALR_CNX_POW ACK", "ACK");
        });
        $("#recette").submit(function() {
          socket.emit("cmd_recette", $('#cmd').val());
          return false;
        });
      });
      function toggleMotA() {
        if(document.getElementById("motA").innerHTML == "Off") {
          $('#motA').text("On");
          socket.emit("cmd_motA", "on");
        } else {
          $('#motA').text("Off");
          socket.emit("cmd_motA", "off");
        }
      };
      function toggleMotB() {
        if(document.getElementById("motB").innerHTML == "Off") {
          $('#motB').text("On");
          socket.emit("cmd_motB", "on");
        } else {
          $('#motB').text("Off");
          socket.emit("cmd_motB", "off");
        }
      };
      function toggleMotC() {
        if(document.getElementById("motC").innerHTML == "Off") {
          $('#motC').text("On");
          socket.emit("cmd_motC", "on");
        } else {
          $('#motC').text("Off");
          socket.emit("cmd_motC", "off");
        }
      };
      function toggleMode() {
        if(document.getElementById("mode").innerHTML == "Manuel") {
          $('#mode').text("Auto");
          $('#motA').attr('disabled','disabled');
          $('#motB').attr('disabled','disabled');
          $('#motC').attr('disabled','disabled');
          $('#goStop_mel').attr('disabled','disabled');
          $('#flush').attr('disabled','disabled');
          socket.emit("cmd_mode_mel", "auto");
        } else {
          $('#mode').text("Manuel");
          $('#motA').removeAttr('disabled');
          $('#motB').removeAttr('disabled');
          $('#motC').removeAttr('disabled');
          $('#goStop_mel').removeAttr('disabled');
          $('#flush').removeAttr('disabled');
          socket.emit("cmd_mode", "manuel");
        }
      };
      function recetteGo() {
        $('#goStop_mel').text("Stop");
        //$('#Mode').val(" auto ");
        $('#goStop_mel').attr('onclick','recetteStop()');
        socket.emit("cmd_Go", "go");
      };
      function recetteStop() {
        $('#goStop_mel').text(" Go ");
        $('#goStop_mel').attr('onclick','recetteGo()');
        socket.emit("cmd_Go", "stop");
      };
      function recetteFlush() {
        socket.emit("cmd_Go", "flush");
      };
      function goShop() {
        socket.emit("cmd_force", "GO");
      };
      function stopShop() {
        socket.emit("cmd_force", "STOP");
      };
    </script>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/loginHeader') %>
    </header> 
    <main>
      <div class="jumbotron">
        <table class="table">
            <th>Mélangeur<span id="trig"></span></th>
            <tr>
              <td>Statut : <span id="recetteStatut"><%=melangeur.recetteStatut%></span></td>
              <td><button onclick="recetteGo()"    id="goStop_mel">Go</button></td>
              <td><button onclick="recetteFlush()" id="flush">Flush</button></td>
            </tr>
            <tr>
              <td>Moteur A : <button onclick="toggleMotA()" id="motA">Off</button></td>
              <td>Moteur B : <button onclick="toggleMotB()" id="motB">Off</button></td>
              <td>Moteur C : <button onclick="toggleMotC()" id="motC">Off</button></td>
            </tr>
            <tr>
              <td>Mode : <button onclick="toggleMode()" id="mode">Manuel</button></td>
              <td>Recette : eg. 1-456-25
                <form id="recette">
                  <input type="text" id="cmd" pattern="\d{1,3}-\d{1,3}-\d{1,3}"> g <input type="submit" value="Envoyer">
                </form>
              </td>
            </tr>
        </table>
        <table class="table">
            <th>Shop Vac</th>
            <th></th>
            <th>
              <input type="button" onclick="goShop()" id="goShop" value="GO"></input>
            </th>
            <th>
              <input type="button" onclick="stopShop()" id="stopShop" value="STOP"></input>
            </th>
          <% for (key of Object.keys(shopvac)) { %>
            <tr>
              <td>
                <span><%=key%>  :</span>
              </td>
              <td>
                <span id="<%=key%>"><%=shopvac[key]%></span>
              </td>
              <% if (key=="sequence") { %>
              <%} else { %>
              <td>
                %
              </td>
              <% } %>
            </tr>
          <% }; %>
        </table>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>