<!-- views/pages/panneau.ejs -->
<!DOCTYPE html>
<!--
    Jimmy Martini 04-10-2021
    Fichier: panneau.ejs
    Page qui affiche les information du panneau RAM.
    Affiche les informations du panneau RAM et gère les alarmes qui lui est associé.
-->

<html lang="fr-CA">
  <head>
    <%- include('../partials/head') %>
    <script>
      jQuery(function($) {
        socket.on('Mode', function (val) {
          $('#Mode').text(val);
        });
        socket.on('NivGB', function (val) {
          $('#NivGB').text(val);
        });
        socket.on('NivPB', function (val) {
          $('#NivPB').text(val);
        });
        socket.on('TmpGB', function (val) {
          //$('#TmpGB').text(val);
        });
        socket.on('TmpPB', function (val) {
          $('#TmpPB').text(val);
        });
        socket.on('ValveGB', function (val) {
          $('#ValveGB').text(val);
        });
        socket.on('ValvePB', function (val) {
          $('#ValvePB').text(val);
        });
        socket.on('ValveEC', function (val) {
          $('#ValveEC').text(val);
        });
        socket.on('ValveEF', function (val) {
          $('#ValveEF').text(val);
        });
        socket.on('ValveEEC', function (val) {
          $('#ValveEEC').text(val);
        });
        socket.on('ValveEEF', function (val) {
          $('#ValveEEF').text(val);
        });
        socket.on('Pompe', function (val) {
          $('#Pompe').text(val);
        });
        socket.on('PurgeGB', function (val) {
          $('#PurgeGB').text(val);
        });
        socket.on('PurgePB', function (val) {
          $('#PurgePB').text(val);
        });
        socket.on('ConsNivGB', function (val) {
          $('#ConsNivGB').text(val);
        });
        socket.on('ConsNivPB', function (val) {
          $('#ConsNivPB').text(val);
        });
        socket.on('ConsTmpGB', function (val) {
          //$('#ConsTmpGB').text(val);
        });
        socket.on('ConsTmpPB', function (val) {
          $('#ConsTmpPB').text(val);
        });
        socket.on('ALR_GB_OVF', function (val) {
          var retour = window.confirm("ATTENTION!!\nDébordement du gros bassin!\nAction de l'opérateur sur la machine est recommandé avant de fermer cette alerte.");
          socket.emit("ALR_GB_OVF ACK", "ACK");
        });
        socket.on('ALR_PB_OVF', function (val) {
          var retour = window.confirm("ATTENTION!!\nDébordement du petit bassin!\nAction de l'opérateur sur la machine est recommandé avant de fermer cette alerte.");
          socket.emit("ALR_PB_OVF ACK", "ACK");
        });
        socket.on('ALR_GB_NIV_MAX', function (val) {
          var retour = window.confirm("ATTENTION!!\nLe niveau maximum configuré pour le gros bassin à été atteint.\n???");
          socket.emit("ALR_GB_NIV_MAX ACK", "ACK");
        });
        socket.on('ALR_PB_NIV_MAX', function (val) {
          var retour = window.confirm("ATTENTION!!\nLe niveau maximum configuré pour le petit bassin à été atteint.\n???");
          socket.emit("ALR_PB_NIV_MAX ACK", "ACK");
        });
        socket.on('ALR_CNX_BAL', function (val) {
          var retour = window.confirm("ATTENTION!!\nLa connection avec la balance à été perdu!\nAction de l'opérateur sur la machine est recommandé avant de fermer cette alerte.");
          socket.emit("ALR_CNX_BAL ACK", "ACK");
        });
        socket.on('ALR_CNX_POW', function (val) {
          var retour = window.confirm("ATTENTION!!\nLa connection avec le powermeter à été perdu!\nAction de l'opérateur sur la machine est recommandé avant de fermer cette alerte.");
          socket.emit("ALR_CNX_POW ACK", "ACK");
        });
      });
    </script>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/loginHeader') %>
    </header> 
    <main>
      <div class="jumbotron">
        <table class="table">
          <% for (key of Object.keys(panneau)) { %>
            <tr>
              <td>
                <span><%=key%>  :</span>
              </td>
              <td>
                <span id="<%=key%>"><%=panneau[key]%></span>
              </td>
              <td>
                <span>
                  <% if (key=="TmpPB" || key=="ConsigneTemperaturePB") { %>
                    °C
                  <%} else if (key=="ValveEEC" || key=="ValveEEF" || key=="Pompe" || key=="Mode") { %>
                  <%} else { %>
                    %
                  <% } %>
                </span>
              </td>
            </tr>
          <% }; %>
        </table>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>